.App {
  text-align: center;
  background-image: url("assets/wood1.jpg");
  background-size: contain;
  min-height: 100vh;
}

.drinks-list {
  width: fit-content;
  margin: auto;
}

.caffeine-indicator {
  background-image: url("assets/coffee_stain2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 5%;
}

.caffeine_graph {
    margin: auto;
}

.drinks-records {

  /*TODO Consider changing to grid to have 30% 70%*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


.drink-records__list {
  background: white;
  padding: 5px 20px 20px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  margin: auto;
}

.drink-records__record {

}

.drink-records__record__name {

}

.drink-records__record__caff {

}

.drink-records__record__serving {

}
